/*Will be removed*/

/*.services_main_block {
    outline: 5px red solid;

    .services_internal_block {
        outline: 3px skyblue solid;

        .services {
            outline: 2px green solid;

            .services_title_list_block {
                outline: 1px blue solid;

                .service_title {
                    outline: 1px red solid;
                }

                .service_list {
                    outline: 2px purple solid;

                    .service_item {
                        outline: 1px red solid;

                        .icon {
                            outline: 1px blue solid;
                        }

                        .info {
                            outline: 1px red solid;
                        }
                    }
                }
            }
        }
    }
}*/

/*Global properties of Services block*/

.services_main_block {
    height: 36.125rem;
    box-shadow: 0 0.063rem 0.125rem rgba(0, 0, 0, 0.14);

    .services_internal_block {
        height: 36.125rem;
        margin: 0;

        .services {
            padding: 0;
            position: relative;

            .services_title_list_block {
                width: 73rem;
                height: 25.625rem;

                position: relative;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .service_title {
                    width: 35.5rem;
                    height: 2rem;
                    text-align: center;
                    line-height: 2rem;
                    letter-spacing: 0.0037em;
                    font: 1.375rem Roboto-Regular;
                    color: $color1;


                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 0%);
                }

                .service_list {
                    width: 100%;
                    margin-top: 6.375rem;
                    height: 19.25rem;

                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    .service_item {
                        width: 23rem;
                        height: 9.25rem;
                        margin-bottom: 0.75rem;
                        cursor: pointer;
                        box-shadow: 0 0.063rem 0.125rem rgba(0, 0, 0, 0.14);
                        border: 0.063rem solid rgba(0, 0, 0, 0.0595);
                        border-radius: 0.25rem;

                        .icon {
                            width: 3rem;
                            height: 3rem;
                            margin-top: 1.5rem;
                            margin-left: 1.5rem;
                        }

                        .info {
                            width: 20.188rem;
                            height: 1.5rem;
                            margin-top: 1rem;
                            margin-left: 1.5rem;

                            font: 0.938rem Roboto-Regular;
                            line-height: 1.5rem;
                            letter-spacing: 0.003em;
                            color: $color4;
                        }
                    }
                }
            }
        }
    }
}


/*Responsive Section*/

@media screen and(min-width: 992px) and(max-width: 1199px) {

    /*Global properties of Services block*/

    .services_main_block {
        height: 41.25rem;

        .services_internal_block {
            height: 41.25rem9;

            .services {

                .services_title_list_block {
                    width: 59.375rem;
                    height: 100%;

                    .service_title {
                        width: 35.5rem;
                        height: 2rem;
                        margin-top: 1.563rem;
                    }

                    .service_list {
                        width: 88%;
                        min-height: 83%;

                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, 0%);
                    }
                }
            }
        }
    }
}

@media screen and(min-width: 768px) and(max-width: 991px) {

    /*Global properties of Services block*/

    .services_main_block {
        height: 37.5rem;

        .services_internal_block {
            height: 37.5rem;

            .services {

                .services_title_list_block {
                    width: 100%;
                    height: 100%;

                    .service_title {
                        width: 35.5rem;
                        height: 2rem;
                        margin-top: 1.563rem;
                    }

                    .service_list {
                        width: 95%;
                        min-height: 83%;

                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, 0%);

                        .service_item {
                            width: 46%;
                            height: 8.125rem;
                            margin-bottom: 0;                                     

                            .icon {
                                width: 3rem;
                                height: 3rem;
                                margin-top: 1.125rem;
                            }

                            .info {
                                width: 70%;
                                height: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(min-width: 576px) and(max-width: 767px) {

    /*Global properties of Services block*/

    .services_main_block {
        height: 37.5rem;

        .services_internal_block {
            height: 37.5rem;

            .services {

                .services_title_list_block {
                    width: 100%;
                    height: 100%;

                    .service_title {
                        width: 80%;
                        height: 2rem;
                        margin-top: 1.563rem;
                    }

                    .service_list {
                        width: 78%;
                        min-height: 83%;

                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, 0%);

                        .service_item {
                            width: 46%;
                            height: 8.125rem;
                            margin-bottom: 0;

                            .icon {
                                width: 3rem;
                                height: 3rem;
                                margin-top: 0.938rem;
                                margin-left: 1.063rem;
                                margin-bottom: 1.25rem;
                            }

                            .info {
                                width: 85%;
                                height: 1.5rem;
                                margin-left: 1.063rem;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 575px) {

    /*Global properties of Services block*/

    .services_main_block {
        height: 37.5rem;

        .services_internal_block {
            height: 37.5rem;

            .services {

                .services_title_list_block {
                    width: 100%;
                    height: 100%;

                    .service_title {
                        width: 80%;
                        height: 3.125rem;
                        margin-top: 1.563rem;
                    }

                    .service_list {
                        width: 95%;
                        min-height: 83%; 

                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, 0%);

                        .service_item {
                            width: 46%;
                            height: 8.125rem;
                            margin-bottom: 0;

                            .icon {
                                width: 3rem;
                                height: 3rem;
                                margin: 0 auto;
                                margin-top: 0.938rem;
                                margin-bottom: 1.063rem;
                            }

                            .info {
                                width: 95%;
                                height: 2.813rem;
                                margin: 0 auto;
                                font-size: 0.875rem;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}