/*Will be removed*/

/*.partners_users_main_block {
    outline: 5px red solid;

    .partners_users_internal_block {
        outline: 3px skyblue solid;

        .partners_main_block {
            outline: 10px green solid;

            .partners {
                outline: 1px red solid;

                .partners_title {
                    outline: 1px black solid;
                }

                &_list {
                    outline: 1px blue solid;


                    .icon {
                        outline: 1px red solid;
                    }

                    .text {
                        outline: 1px green solid;
                    }

                }
            }
        }

        .users_main_block {
            outline: 10px blue solid;

            .users {
                outline: 1px blue solid;

                .users_title {
                    outline: 1px black solid;
                }

                .users_list {
                    outline: 1px red solid;

                    .icon {
                        outline: 1px red solid;
                    }

                    .text {
                        outline: 1px green solid;
                    }
                }
            }
        }
    }
}*/


/*Global properties of block Partners and Users*/

.partners_users_main_block {
    height: 38.313rem;

    .partners_users_internal_block {
        height: 38.313rem;
        margin: 0;


        /*Partners list*/

        .partners_main_block {
            box-shadow: 0 0.063rem 0.125rem rgba(0, 0, 0, 0.14);
            background: $color8;
            position: relative;

            .partners {
                width: 26.25rem;
                height: 26.008rem;

                position: absolute;
                top: 50%;
                left: 51.7%;
                transform: translate(-50%, -50%);

                &_title {
                    width: 23.75rem;
                    height: 6.25rem;
                    margin-bottom: 2.813rem;

                    font: 2.5rem Roboto-Bold;
                    line-height: 3.125rem;
                    letter-spacing: 0.005em;
                    color: $color1;
                }

                &_list {
                    margin-bottom: 2rem;
                    display: flex;


                    .icon {
                        background: no-repeat center;
                        width: 2.688rem;
                        height: 2.688rem;
                        margin-right: 1.75rem;
                    }

                    .text {
                        margin-top: 0.563rem;
                        height: 1.625rem;
                        font: 1.125rem Roboto-Regular;
                        line-height: 1.625rem;
                        letter-spacing: 0.0003em;
                        color: $color4;
                    }
                }
            }
        }

        /*Users list*/

        .users_main_block {
            box-shadow: 0 0.063rem 0.125rem rgba(0, 0, 0, 0.14);
            background: $color9;
            position: relative;

            .users {
                width: 25.625rem;
                height: 26.008rem;

                position: absolute;
                top: 50%;
                left: 46%;
                transform: translate(-50%, -50%);

                &_title {
                    width: 23.75rem;
                    height: 6.25rem;
                    margin-bottom: 2.813rem;

                    font: 2.5rem Roboto-Bold;
                    line-height: 3.125rem;
                    letter-spacing: 0.005em;
                    color: $color1;
                }

                &_list {
                    margin-bottom: 2rem;
                    display: flex;

                    .icon {
                        background: no-repeat center;
                        width: 2.688rem;
                        height: 2.688rem;
                        margin-right: 1.75rem;
                    }

                    .text {
                        margin-top: 0.563rem;
                        height: 1.625rem;
                        font: 1.125rem Roboto-Regular;
                        line-height: 1.625rem;
                        letter-spacing: 0.0003em;
                        color: $color4;
                    }
                }
            }
        }
    }
}

/*Responsive Section*/

@media screen and(min-width: 992px) and(max-width: 1199px) {

    /*Global properties of block Partners and Users*/

    .partners_users_main_block {

        .partners_users_internal_block {

            /*Partners list*/

            .partners_main_block {

                .partners {
                    left: 50%;

                    &_title {
                        text-align: center;
                    }
                }
            }

            /*Users list*/

            .users_main_block {

                .users {
                    left: 47%;

                    &_title {
                        text-align: center;
                    }

                    &_list {

                        .icon {
                            margin-left: 1.25rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and(min-width: 768px) and(max-width: 991px) {

    /*Global properties of block Partners and Users*/

    .partners_users_main_block {

        .partners_users_internal_block {

            /*Partners list*/

            .partners_main_block {

                .partners {
                    width: 90%;
                    height: auto;
                    left: 50%;

                    &_title {
                        width: 100%;
                        height: auto;
                        font-size: 2.375rem;
                    }

                    &_list {
                        .icon {
                            margin-right: 0.938rem;
                        }

                        .text {
                            height: auto;
                            font-size: 1.200rem;
                        }
                    }
                }
            }

            /*Users list*/

            .users_main_block {

                .users {
                    width: 90%;
                    height: auto;
                    left: 50%;

                    &_title {
                        width: 100%;
                        height: auto;
                        font-size: 2.375rem;
                    }

                    &_list {

                        .icon {
                            margin-left: 1.25rem;
                            margin-right: 0.938rem;
                        }

                        .text {
                            font-size: 1.200rem;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

@media screen and(min-width: 576px) and(max-width: 767px) {

    /*Global properties of block Partners and Users*/

    .partners_users_main_block {
        height: 62.5rem;

        .partners_users_internal_block {
            height: 62.5rem;
            /*Partners list*/

            .partners_main_block {

                .partners {
                    width: 63%;
                    height: auto;
                    left: 50%;

                    &_title {
                        width: 100%;
                        height: auto;
                        margin-bottom: 1.875rem;
                        font-size: 2.375rem;
                        text-align: center;
                    }

                    &_list {

                        .icon {
                            margin-right: 0.938rem;
                        }

                        .text {
                            height: auto;
                            font-size: 1.200rem;
                            text-align: center;
                        }
                    }
                }
            }

            /*Users list*/

            .users_main_block {

                .users {
                    width: 63%;
                    height: auto;
                    left: 50%;

                    &_title {
                        width: 100%;
                        height: auto;
                        text-align: center;
                        margin-bottom: 1.875rem;
                        font-size: 2.375rem;
                    }

                    &_list {

                        .icon {
                            margin-right: 0.938rem;
                        }

                        .text {
                            font-size: 1.200rem;
                            height: auto;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 575px){

    /*Global properties of block Partners and Users*/

    .partners_users_main_block {
        height: 68.75rem;

        .partners_users_internal_block {
            height: 68.75rem;

            /*Partners list*/

            .partners_main_block {

                .partners {
                    width: 95%;
                    height: auto;
                    left: 50%;

                    &_title {
                        width: 100%;
                        height: auto;
                        margin-bottom: 1.875rem;
                        font-size: 2.438rem;
                    }

                    &_list {
                        .icon {
                            width: 3.75rem;
                            margin-right: 0.938rem;
                        }

                        .text {
                            height: auto;
                            font-size: 1.100rem;
                            text-align: center;
                        }
                    }
                }
            }

            /*Users list*/

            .users_main_block {

                .users {
                    width: 95%;
                    height: auto;
                    left: 50%;

                    &_title {
                        width: 100%;
                        height: auto;
                        margin-bottom: 1.875rem;
                        font-size: 2.375rem;
                    }

                    &_list {

                        .icon {
                            margin-right: 0.938rem;
                        }

                        .text {
                            font-size: 1.100rem;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}