/*Will be removed*/

/*.sign_everywhere_main_block {
    outline: 5px red solid;

    .sign_everywhere_internal_block {
        outline: 3px skyblue solid;

        .sign_block {
            outline: 7px green solid;

            .sign_everywhere {
                outline: 1px red solid;

                .play_video_btn {
                    outline: 1px yellow solid;
                }

                &_title {
                    outline: 1px red solid;
                }

                &_text {
                    outline: 1px black solid;
                }
            }
        }
    }
}*/

/*Global properties of Section Sign Everywhere*/

.sign_everywhere_main_block {
    height: 30rem;
    background-image: url('@/assets/images/SignEverywhere.png');
    background-size: cover;
    background-position: center;

    .sign_everywhere_internal_block {
        height: 30rem;
        background: rgba(29, 32, 79, 0.5);

        .sign_block {
            position: relative;

            /*Content block*/

            .sign_everywhere {
                width: 45rem;
                height: 14.375rem;
                color: $color5;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                /*Play video button*/

                .play_video_btn {
                    width: 3.625rem;
                    height: 3.625rem;
                    margin: 0 auto;
                    margin-bottom: 2rem;

                    background: url('@/assets/images/PlayVideoBtn.png');
                    cursor: pointer;
                }

                &_title {
                    margin-bottom: 2rem;
                    font: 1.75rem Roboto-Bold;
                    line-height: 2.25rem;
                    text-align: center;
                    letter-spacing: 0.004em;
                }

                &_text {
                    font: 0.938rem Roboto-Thin;
                    line-height: 1.5rem;
                    text-align: center;
                    letter-spacing: 0.003em;
                }
            }
        }
    }
}

/*Responsive Section*/


@media screen and(min-width: 576px) and (max-width: 767px) {

    .sign_everywhere_main_block {
        height: 30rem;

        .sign_everywhere_internal_block {
            height: 30rem;

            .sign_block {

                /*Content block*/

                .sign_everywhere {
                    width: 95%;
                }
            }
        }
    }
}

@media screen and(max-width: 575px) {

    .sign_everywhere_main_block {
        height: 30rem;

        .sign_everywhere_internal_block {
            height: 30rem;

            .sign_block {

                /*Content block*/

                .sign_everywhere {
                    width: 95%;
                    height: auto;
                }
            }
        }
    }
}