/*Will be removed*/

/*.be_partner_main_block {
    outline: 5px red solid;

    .be_partner_internal_block {
        outline: 3px skyblue solid;

        .title_text_list {
            outline: 10px green solid;

            .be_partner {
                outline: 1px red solid;

                &_title {
                    outline: 1px red solid;
                }

                &_text {
                    outline: 1px blue solid;
                }

                &_list {
                    outline: 5px green solid;

                    &_item {

                        .icon {
                            outline: 2px red solid
                        }

                        .titles {
                            outline: 2px blue solid;
                        }
                    }
                }
            }
        }
    }
}*/

/*Global properties of block Be A Partner*/

.be_partner_main_block {
    height: 30.688rem;

    .be_partner_internal_block {
        height: 30.688rem;

        .title_text_list {
            position: relative;

            .be_partner {
                width: 73rem;
                height: 21.25rem;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                &_title {
                    width: 52rem;
                    margin: 0 auto;
                    margin-bottom: 2rem;

                    font: 1.75rem Roboto-Bold;
                    line-height: 2.25rem;
                    text-align: center;
                    letter-spacing: 0.0004em;
                    color: $color1;
                }

                &_text {
                    width: 33.25rem;
                    margin: 0 auto;
                    margin-bottom: 1.25rem;

                    font: 0.938rem Roboto-Regular;
                    line-height: 1.5rem;
                    text-align: center;
                    letter-spacing: 0.0003em;
                    color: $color4;

                    span {
                        font-weight: bold;
                        color: $color1;
                    }
                }

                /*Partner icon and title list*/

                &_list {
                    height: auto;
                    display: flex;
                    justify-content: space-between;

                    &_item {

                        .icon {
                            width: 16.75rem;
                            height: 8.75rem;
                            margin-bottom: 0.75rem;
                            background: no-repeat center;
                        }

                        .titles {
                            font: 1.125rem Roboto-Bold;
                            line-height: 1.625rem;
                            text-align: center;
                            letter-spacing: 0.0003em;
                            color: $color1;
                        }
                    }
                }
            }
        }
    }
}

/*Responsive Section*/

@media screen and(min-width: 992px) and(max-width: 1199px) {

    /*Global properties of block Be A Partner*/

    .be_partner_main_block {
        margin-bottom: 1.875rem;

        .be_partner_internal_block {

            .title_text_list {

                .be_partner {
                    width: 90%;
                    height: 25rem;

                    &_title {
                        width: 70%;
                        margin: 0 auto;
                        margin-bottom: 2rem;
                    }

                    &_text {
                        width: 50%;
                        margin: 0 auto;
                        margin-bottom: 3.125rem;
                    }

                    /*Partner icon and title list*/

                    &_list {

                        &_item {

                            .icon {
                                width: 12.5rem;
                                height: 8.75rem;
                                margin-bottom: 0.75rem;
                            }

                            .titles {
                                width: 12.5rem;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(min-width: 768px) and(max-width: 991px) {

    /*Global properties of block Be A Partner*/

    .be_partner_main_block {
        margin-bottom: 1.875rem;

        .be_partner_internal_block {

            .title_text_list {

                .be_partner {
                    width: 90%;
                    height: 28.125rem;
                    position: relative;

                    &_title {
                        width: 70%;
                        margin: 0 auto;
                        margin-bottom: 2rem;
                    }

                    &_text {
                        width: 50%;
                        margin: 0 auto;
                        margin-bottom: 1.25rem;
                    }

                    /*Partner icon and title list*/

                    &_list {
                        width: 95%;
                        position: absolute;
                        top: 65%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        &_item {

                            .icon {
                                width: 100%;
                                height: 8.75rem;
                                margin-bottom: 0.75rem;
                            }

                            .titles {
                                width: 9.375rem;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(min-width: 576px) and(max-width: 767px) {

    /*Global properties of block Be A Partner*/

    .be_partner_main_block {
        height: 55rem;
        margin-bottom: 1.875rem;

        .be_partner_internal_block {
            height: 55rem;

            .title_text_list {

                .be_partner {
                    width: 90%;
                    height: 53.125rem;
                    position: relative;

                    &_title {
                        width: 70%;
                        margin: 0 auto;
                        margin-bottom: 1.063rem;
                    }

                    &_text {
                        width: 80%;
                        margin: 0 auto;
                        margin-bottom: 1.25rem;
                    }

                    /*Partner icon and title list*/

                    &_list {
                        width: 95%;
                        height: 40rem;
                        flex-direction: column;

                        position: absolute;
                        top: 61%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        &_item {

                            .icon {
                                width: 40%;
                                height: 6.25rem;
                                margin: 0 auto;
                                margin-bottom: 0.75rem;
                            }

                            .titles {
                                width: 40%;
                                height: auto;
                                margin: 0 auto;
                                margin-bottom: 0.625rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 575px) {

    /*Global properties of block Be A Partner*/

    .be_partner_main_block {
        height: 61.25rem;
        margin-bottom: 1.875rem;

        .be_partner_internal_block {
            height: 61.25rem;

            .title_text_list {

                .be_partner {
                    width: 90%;
                    height: 57.5rem;
                    position: relative;

                    &_title {
                        width: 100%;
                        margin: 0 auto;
                        margin-bottom: 1.063rem;
                    }

                    &_text {
                        width: 100%;
                        margin: 0 auto;
                        margin-bottom: 1.25rem;
                    }

                    /*Partner icon and title list*/

                    &_list {
                        width: 95%;
                        height: 41.875rem;
                        flex-direction: column;

                        position: absolute;
                        top: 62%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        &_item {

                            .icon {
                                width: 40%;
                                height: 6.25rem;
                                margin: 0 auto;
                                margin-bottom: 0.75rem;
                            }

                            .titles {
                                width: 50%;
                                height: auto;
                                margin: 0 auto;
                                margin-bottom: 0.625rem;
                            }
                        }
                    }
                }
            }
        }
    }
}