/*Will be removed*/

/*.new_generation_main_block {
    outline: 5px red solid;

    .new_generation_internal_block {
        outline: 4px skyblue solid;

        .electronic_signature_main_block {
            outline: 1px green solid;

            .electron_signature_info_block {
                outline: 2px blue solid;

                .signature_title {
                    outline: 5px red solid;
                }

                .signature_text {
                    outline: 1px green solid;
                }

                .signature_buttons {
                    outline: 1px skyblue solid;
                }
            }

            .slide_btns_block {
                outline: 1px solid red;

                .slide_btn {
                    outline: 1px blue solid;
                }
            }
        }

        .new_generation_image_block {
            outline: 2px blue solid;

            .generation_image {
                outline: 2px green solid;
            }
        }
    }
}*/


/*Global properties of new generation block*/

.new_generation_main_block {
    max-width: 100rem;
    height: 46.375rem;
    margin-bottom: 0.625rem;
    padding: 0;

    .swiper-slide {
        margin: 0;
    }

    .new_generation_internal_block {
        padding: 0;

            .electronic_signature_main_block {
                padding: 0;
                position: relative;
                background-color: $color7;

                /* Electron signature info - title, text, button*/

                .electron_signature_info_block {
                    width: 35.5rem;
                    height: 21.563rem;

                    position: absolute;
                    top: 10.813rem;
                    left: 13.5rem;

                    .signature_title {
                        width: 90%;
                        height: 9.5rem;

                        font: 4rem Roboto-Bold;
                        color: $color1;
                        line-height: 4.75rem;
                        letter-spacing: 0.006em;
                    }

                    .signature_text {
                        margin-top: 2rem;
                        width: 103%;
                        height: 4.5rem;

                        font: 0.938rem Roboto-Regular;
                        color: $color4;
                        line-height: 1.5rem;
                        letter-spacing: 0.003em;
                    }

                    /*Signature buttons*/

                    .signature_buttons {
                        margin-top: 2.5rem;
                        width: 18.625rem;
                        height: 3rem;

                        display: flex;
                        justify-content: space-between;

                        .app_store_btn,
                        .play_market_btn {
                            background-color: $color6;
                            box-shadow: 0 0.25rem 1.125rem rgba(0, 176, 78, 0.28);
                            transition: 0.4s;

                            &:hover {
                                background-color: $color1;
                            }
                        }
                    }
                }
            }

            /*New generation image*/

            .new_generation_image_block {
                padding: 0;
                background-color: $color7;

                .generation_image {
                    width: 100%;
                    height: 46.375rem;
                    background: 50% no-repeat;
                }
            }
        }
    }


/*Responsive Section*/

@media screen and(min-width: 1200px) and(max-width: 1500px) {

    /*Global properties of new generation block*/

    .new_generation_main_block {

        .new_generation_internal_block {

            .electronic_signature_main_block {

                /* Electron signature info - title, text, button*/

                .electron_signature_info_block {
                    left: 16.5%;
                }
            }
        }
    }
}

@media screen and(min-width: 992px) and(max-width: 1199px) {

    /*Global properties of new generation block*/

    .new_generation_main_block {

        .new_generation_internal_block {

            .electronic_signature_main_block {

                /* Electron signature info - title, text, button*/

                .electron_signature_info_block {
                    left: 9%;

                    .signature_text {
                        width: 90%;
                    }
                }
            }

            .new_generation_image_block {

                .generation_image {
                    background: 0 no-repeat;
                }
            }
        }
    }
}

@media screen and(min-width: 768px) and(max-width: 991px) {

    /*Global properties of new generation block*/

    .new_generation_main_block {

        .new_generation_internal_block {

            .electronic_signature_main_block {

                /* Electron signature info - title, text, button*/

                .electron_signature_info_block {
                    height: auto;
                    left: 9%;

                    .signature_title {
                        width: 70%;
                        font-size: 3.75rem;
                    }

                    .signature_text {
                        width: 72%;
                        height: auto;
                    }
                }
            }

            .new_generation_image_block {

                .generation_image {
                    background: 5% no-repeat;
                }
            }
        }
    }
}

@media screen and(min-width: 576px) and(max-width: 767px) {

    /*Global properties of new generation block*/

    .new_generation_main_block {
        height: 62.5rem;

        .new_generation_internal_block {
            height: 62.5rem;

            .electronic_signature_main_block {
                height: 45%;

                /* Electron signature info - title, text, button*/

                .electron_signature_info_block {
                    height: auto;
                    top: 15%;
                    left: 50%;

                    transform: translate(-50%, 0%);

                    .signature_title {
                        margin: 0 auto;
                        width: 70%;
                        font-size: 3.438rem;
                        text-align: center;
                    }

                    .signature_text {
                        margin: 0 auto;
                        margin-top: 2rem;
                        text-align: center;
                        width: 72%;
                        height: auto;
                    }

                    .signature_buttons {
                        margin: 0 auto;
                        margin-top: 2.5rem;
                    }
                }
            }

            .new_generation_image_block {
                height: 55%;

                .generation_image {
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
}

@media screen and(max-width: 575px) {

    /*Global properties of new generation block*/

    .new_generation_main_block {
        height: 75rem;

        .new_generation_internal_block {
            height: 75rem;
            background-color: $color7;

            .electronic_signature_main_block {
                height: 32%;

                /* Electron signature info - title, text, button*/

                .electron_signature_info_block {
                    width: 100%;
                    height: auto;
                    top: 15%;
                    left: 50%;

                    transform: translate(-50%, 0%);

                    .signature_title {
                        width: 100%;
                        height: auto;
                        font-size: 3.125rem;
                        text-align: center;
                    }

                    .signature_text {
                        margin: 0 auto;
                        margin-top: 2rem;
                        text-align: center;
                        width: 98%;
                        height: auto;
                    }

                    .signature_buttons {
                        margin: 0 auto;
                        margin-top: 2.5rem;

                        .app_store_btn,
                        .play_market_btn {
                            width: 8.25rem;
                        }
                    }
                }
            }

            .new_generation_image_block {
                height: 68%;

                .generation_image {
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
}